jdbc_location=src/main/resources/ojdbc6.jar
jdbc.url=<jdbcurl>
oracle.schema=BIGDATA
oracle.user.name=bigdata
oracle.user.password=bigdata
primarykey=id
hive.partition.column=
oracle.select.columns=audit_id, username,created,created_by,internal_message, external_message, locked_until,category, unlock_by, brand, audit_created_by_module,to_char(created,'yyyy-mm-dd') as datestamp
oracle.table.name=tb1
oracle.update.column=created
oracle.update.column.type=timestamp
oracle.data.selection.rule=timestamp
hive.overwrite.flag=false
hive.partition.flag=true
hdfs.date.file.location=src/test/resources/date_file.txt
hive.query.with.columns.casted=
hive.table.location=src/test/resources/tb1/
hive.table.storage.format=orc