
jdbc_location=src/test/resources/ojdbc6.jar
jdbc.url=jdbc:oracle:thin:some-url
oracle.schema=schema
oracle.user.name=user
oracle.user.password=pass
primarykey=id
hive.partition.column=datestamp
oracle.select.columns=audit_id, username,created,created_by,internal_message, external_message, locked_until,category, unlock_by, brand, audit_created_by_module,to_char(created,'yyyy-mm-dd') as datestamp
oracle.table.name=dwh_stg.tb1
oracle.update.column=vipstartdate
oracle.update.column.type=timestamp
oracle.data.selection.rule=timestamp
hive.overwrite.flag=false
hive.partition.flag=true
hdfs.date.file.location=src/test/resources/date_file.txt
hive.query.with.columns.casted= select usrname,id,brand,viplevel,vipstartdate,vipstatus,to_date(vipstartdate) as datestamp from
hive.table.location=oracle-to-hive/src/test/resources/tb1
hive.table.storage.format=orc
hive.table.name.withschema=dwh_stg.tb1
hive.temp.db=dwh_stg